*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  align-items: center;
  font-weight: 200;
}

img{
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.image.container {
  max-width: 800px;
  max-height: 90vh;
  aspect-ratio: 16/9;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons{
  display: flex;
  flex-direction: row;
}